<%- include('partials/header.ejs') %>
<% if (success === "Money Transferred Successfully !!!" ) { %>
	<div class="alert alert-success text-center ml-auto mr-auto" role="alert" style="margin-top: 100px; width:50%; height:10%;">
	  <%= success %> 
	</div>
   <% } else if(success === "Oops !! Insufficient Balance!" ) { %>
	<div class="alert alert-danger text-center ml-auto mr-auto" role="alert" style="margin-top: 100px; width:50%;height: 10%;">
	  <%= success %> 
	</div>
   <% } else if(success === "Please enter a valid value greater than zero !!" ) { %>
	<div class="alert alert-info text-center ml-auto mr-auto" role="alert" style="margin-top: 100px; width:50%;height: 10%;">
	  <%= success %> 
	</div>
  <% } %>
  
<div class="customer" style="margin-top: 40px; padding-top: 40px;">
		<div class="container" style="margin-top: 40px; padding-top: 40px;">
			
			<h1 class="text-center" style="font-family: 'EB Garamond', serif; line-height: 35px;">
			   Customers List
			</h1>
		
		</div>
		<div class="container cardouter" style="margin-top:30px;">
			<div class="row text-center" style="display: flex; flex-wrap: wrap;">
		<% customer.forEach(function(customer){ %>
		 <div class="col-md-4 col-sm-6"style="margin-top:30px;margin-bottom:15px;">
			<div class="card h-100">
				  <img class="card-img-top" src="https://www.netclipart.com/pp/m/3-34714_joshua-man-person-icon.png" alt="Customer">
				  <div class="card-body" style="font-family: 'EB Garamond', serif; line-height: 35px;">
					<p class="card-text"><b>Name - <%= customer.name %></b></p>
					 <p class="card-text"><b>Email Address - <%= customer.email %></b></p>
					 <p class="card-text"><b>Contact Number - <%= customer.mobile_number %></b></p>
					 <p class="card-text"><b>Current Balance - Rs. <%= customer.current_balance %></b></p>
					 <p>
						 <a href="/customers/<%= customer._id %>" class="btn btn-outline-light">View</a>
					  </p>
				  </div>
			</div>
		  </div>
		 <% }) %>
		</div>
		</div>
	</div>

<%- include('partials/footer.ejs') %>