<%- include('partials/header.ejs') %>

 
    <div class="container" style="margin-top: 90px; margin-bottom: auto;">
        <div class="text-center text-dark" style="font-family: Georgia, 'Times New Roman', Times, serif;margin-bottom: auto; text-decoration: underline;">
            <h2>CUSTOMERS TRANSACTION TABLE</h2>
        </div>
        <div style="overflow-x:auto;">
          <table class="table table-bordered table-hover " style="margin-top: 30px; padding-top: 20px;">
                
            <thead>
              <tr>
                <th scope="col" >S.No.</th> 
                <th scope="col">Senders Name</th>
                <th scope="col">Receivers Name</th>
                <th scope="col">Transfered Amount in Rs.</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <% for(var i = 0; i < customer.length ; i+=2){ %>
            <tbody>
              <tr>  
                  <th scope="row"><%= i/2 + 1 %></th>
                    <td> <%= customer[i].senders_name %></td>
                    <td> <%= customer[i+1].receivers_name %></td>
                    <td class="text-center"> <%= customer[i].transferred_amount %></td>
                    <td><%= customer[i].Date %></td>
                    <td><%= customer[i].time %></td>
                    <% if( customer[i].status === "Success") { %>
                      <td class="text-success"> <%= customer[i].status %></td>
                    <% } else if( customer[i].status === "Failed"){ %>
                      <td class="text-danger"> <%= customer[i].status %></td>
                   <% } %> 
                    
             </tr>
            </tbody>
            <% } %>
           </table>
        </div>
            
    </div>


<%- include('partials/footer.ejs') %>